<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Especificación de requisitos</title>

     <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    
     <!--Estilo Formulario login-->
    <style type="text/css">
        
        body {
            margin: 40px auto 40px auto;

           /* padding-top: 40px;
            padding-bottom: 40px;*/
        }

        .alert-danger {
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }


        .alert {
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .form-container {
            width: 400px;
            margin: auto;
            
        }
        .form-control{
        	width: 50%;
          height: 45px;
        }

        body{
        	background-color: #333;

        }

        label {
          display: inline-block;
          max-width: 100%;
          margin-bottom: 5px;
          margin-top: 5px;
          /*font-weight: 700;*/
          font-family: 'Lobster', cursive;
          font-size: 18px;
        }

        p{  
          font-family: Pacifico;
          font-size: 32px;
          margin: 0px 0 25px 0px;
        }

        /* Form */
        .form {
         /*position: relative;*/
          /*z-index: 1;*/
          background: #FFFFFF;
          max-width: 420px;
          margin: 0 auto 100px;
          padding: 30px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          text-align: center;
        }
        .form .thumbnail {
          background: #e0e0e0;
          width: 200px;
          height: 136px;
          margin: 0px auto 12px;
          padding: 5px 0px  0px 50px;
          border-top-left-radius: 100%;
          border-top-right-radius: 100%;
          border-bottom-left-radius: 100%;
          border-bottom-right-radius: 100%;
          box-sizing: border-box;
        }
        .form .thumbnail img {
          display: block;
          width: 100%;
        }
        .form .thumbnail img {
          display: block;
          width: 100px;
          height: 120px;
          margin: 0 0 0 0;
        }

        .form input {
          outline: 0;
          background: #efefef;
          width: 50%;
          border: 0;
          margin: 0 25% 0 25%;
          padding: 15px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          box-sizing: border-box;
          font-size: 14px;
          text-align: center;

        }
        .form button {
          width: 50%;
          border: 0;
          padding: 15px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          color: #FFFFFF;
          font-size: 14px;
          cursor: pointer;
        }

        button.btn-primary {
            color: #fff;
            background-color: #333;
            font-family: 'Lobster', cursive;
            font-size: 20px;
        }
    
        .btn-primary:hover{
          background-color:#888787;
        }

        .form .message{
          margin: 15px 0 0;
          color: #333;
          font-size: 15px;
        }
        .form .message a {
          color: #EF3B3A;
          text-decoration: none;
        }
    </style>
</head>
<body>
