  	 <!--*********INICIO VENTANA MODAL**********-->
                     <div class="modal fade" id="editar" role="dialog">
                        <div class="modal-dialog modal-lg" >
                        <div class="modal-contentCompartir">

                          <!-- Modal content-->
                          <div class="col-md-Compartir">
                            <div class="flash-message" ng-if="flash">
                                 <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                            </div>   
                              <div class="box box-solid box-success">
                                  <div class="box-headerHome">
                                          <h3 class="box-tittle">Compartir proyecto</h3>
                                  </div>
                              </div>
                              

                              <div class="box-body">
                                  <div class="panel panel-default">
                                      <div class="box-body table-responsive no-padding">
                                          <table class ="table">
                                              <thead>
                                              
                                              </thead>

                                              <tbody>
                                                <tr>
                                                   <td class="compartirProy">Correo: </td> 
                                                   <td class="compartirText">          
                                                          <input type="email" ng-model="vm.compartir.emailDestino" class="form-controlInputCompartir" required>
                                                   </td> 
                                                  </tr>
                                                  <tr>
                                                      <td class="compartirProy">Proyecto: </td>
                                                        <td>   
                                                        <span class="proyectoCompartido">{{vm.indiceProyectoCompartir}}</span>
                                                        
                                                        <!-- <select name="project" ng-model="vm.compartir.nameProyecto" required>
                                                            <option value="">-SeleccionarProyecto-</option>
                                                            <option ng-repeat="p in vm.proyectos">{{p.name}}</option>       
                                                            
                                                  </select>-->
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                                  <center><button id ="save" class="btn btn-primary" ng-click="vm.enviarEmail(vm.indiceProyectoCompartir)" onclick="recargaTime()">Enviar <span width="15px;" heigth="15px;" class=" nube glyphicon-cloud"></span></button></center>
                        </div>
                      </div>
                      </div>
                </div>
                                  <!--FIN VENTANA MODAL-->
    <div class="tittleContent"> 
   	</div>
                            
            <br><br><br>
                   <div class="col-md-Ppal">
                     <div class="flash-message" ng-if="flash">
                        <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                     </div>  
                   <div class="box box-solid box-success">
                      <div class="box-headerHome">
                              <h3 class="box-tittle">Tus Proyectos:</h3>   <div class="box-tools pull-right" >
                                                                                <a href=""  ng-click="vm.proyectoCompartidoCon()" onclick="recarga()"><span class="imprimir glyphicon glyphicon-refresh"></span></a>
                                                                            </div>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <thead>

                                      <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Fecha Inicio</th>
                                        <th>Iniciado Por</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                      </tr>

                                  </thead>

                                  <tbody>
                                    <tr ng-repeat = "p in vm.proyectos">
                                      <td>{{p.name}} </td>
                                      <td>{{p.desc}} </td>
                                      <td>{{p.fechaInicio}}</td>
                                      <td>{{p.iniciadoPor}}</td>
                                      <td><a ui-sref="functionalrequeriments"><button class="btn btn-success" ng-click="vm.getIdProject(p._id); vm.mostrarMenu(true)"><span width="15px;" heigth="15px;" class=""></span>Abrir</td>
                                      <td><button class="btn btn-success" ng-click="vm.indiceProyecto($index)">
                                                <span class="btnHomeComp" data-toggle="modal" data-target="#editar">Compartir</span></button></td>
                                      <td><a href="" id ="delete" ng-click="vm.deleteProject($index)"  onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a></td>
                                    </tr>
                                  </tbody>                                
                              </table>
                          </div>
                      </div>
                  </div>

				</div>

                  <div>
                  <div ng-show = "vm.proyectos == 0">
                  	<center><p class="textHome">¿Todavía no has creado ningun proyecto en la aplicación?</p></center>
                  </div>  

                   <center><a ui-sref="project"><button class="btn btn-success"><span width="15px;" heigth="15px;" class="glyphicon glyphicon-plus"></span><span class="btnHome"> Crear Proyecto</span></button></a></center>
                  </div>
                    <br>  




                   <div class="col-md-Ppal" ng-if="vm.projectsShareOwn.length > 0">
                   <div class="box box-solid box-success">
                      <div class="box-headerHome">
                              <h3 class="box-tittle">Proyectos compartidos contigo:</h3>
                      </div>
                  </div>
                  <div class="box-body" >
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <thead>
                                      <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Fecha Inicio</th>
                                        <th>Iniciado Por</th>
                                        <th>Proyecto Compartido</th>
                                        <th></th>
                                      </tr>

                                  </thead>

                                  <tbody>
                                    	<tr ng-repeat = "p in vm.projectsShareOwn">
		                                      <td>{{p.name}} </td>
		                                      <td>{{p.desc}} </td>
		                                      <td>{{p.fechaInicio}}</td>
		                                      <td>{{p.iniciadoPor}}</td>
		                                      <td><a ui-sref="functionalrequeriments"><button class="btn btn-warning" ng-click="vm.getIdProjectCompartido(p.name); vm.mostrarMenuCompartido(true)"><span width="15px;" heigth="15px;"></span>Abrir</td>
		                                      <td><a href="" id ="delete" ng-click="vm.deleteProjectShare($index)" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a></td>
                                    	</tr>
                                  </tbody>                                
                              </table>
                          </div>
                      </div>
                  </div>
		</div>
                
                </div>
                   <div class="col-md-Ppal">
                   <div class="box box-solid box-success">
                      <div class="box-headerHome">
                              <h3 class="box-tittle"> Tus Usuarios Invitados</h3>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <thead>
                                    <tr>
                                        <th>Correo</th>
                                        <th>Proyecto</th>
                                        <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        <tr ng-repeat="u in vm.invitadosUser">
                                            <td>{{u.emailDestino}}</span></td>
                                            <td>{{u.nameProyecto}}</td>
                                            <td><a href="" id ="delete" ng-click="vm.eliminarUsuarioInvitado($index)" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a> </td>
                                        </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                 </div>
						</center>
                  </div>
                                           
                                        
<script>
function recarga() {
    location.reload();
}

function recargaTime() {
  setTimeout(function(){
      window.location.reload(1);
  }, 300);
}

</script>