  	<div class="tittleContent"> 
       
   	</div>
                            
             <div class="flash-message" ng-if="flash">
                    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
             </div>         
            <br><br><br>
                   <div class="col-md-Ppal">
                   <div class="box box-solid box-success">
                      <div class="box-headerHome">
                              <h3 class="box-tittle">Tus Proyectos</h3>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <thead>
                                      <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Fecha Inicio</th>
                                        <th>Iniciado Por</th>
                                      </tr>

                                  </thead>

                                  <tbody>
                                    <tr ng-repeat = "p in vm.projects">
                                       <td>{{p.name}} </td>
                                       <td>{{p.desc}} </td>
                                       <td>{{p.fechaInicio}}</td>
                                       <td>{{p.iniciadoPor}}</td>

                                    </tr>
                                  </tbody>                                
                              </table>
                          </div>
                      </div>
                  </div>

                  <div>
                   <center><p class="textHome">¿Todavía no has creado ningun proyecto en la aplicación?</p></center>
                                          
                   <center><a ui-sref="project"><button class="btn btn-success"><span width="15px;" heigth="15px;" class="glyphicon glyphicon-plus"></span><span class="btnHome"> Crear Proyecto</span></button></a></center>
                  </div>
                             <br>        
                                    
                </div>
                   <div class="col-md-Ppal">
                   <div class="box box-solid box-success">
                      <div class="box-headerHome">
                              <h3 class="box-tittle"> Tus Usuarios Invitados</h3>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Proyecto</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        <tr>
                                            <td></td>
                                        </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                 </div>
                                       
                  <div>
                      <center><span class="textHome">¿Deseas compartir tu proyecto?</center>
                       <center><button class="btn btn-success"><span width="15px;" heigth="15px;" class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#editar">
                       										   		<span class="btnHome">Compartir</span></button>
                       										   </span>
						</center>
                  </div>
                                           
                                         <!--*********INICIO VENTANA MODAL**********-->
                     <div class="modal fade" id="editar" role="dialog">
                        <div class="modal-dialog modal-lg" >
                        <div class="modal-contentCompartir">

                          <!-- Modal content-->
                          <div class="col-md-Compartir">
                            <div class="flash-message" ng-if="flash">
                                 <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                            </div>   
                              <div class="box box-solid box-success">
                                  <div class="box-headerHome">
                                          <h3 class="box-tittle">Compartir proyecto</h3>
                                  </div>
                              </div>
                              

                              <div class="box-body">
                                  <div class="panel panel-default">
                                      <div class="box-body table-responsive no-padding">
                                          <table class ="table">
                                              <thead>
                                              
                                              </thead>

                                              <tbody>
                                                <tr>
                                                   <td class="compartirProy">Correo: </td> 
                                                   <td class="compartirText">          
                                                          <input type="text" ng-model="vm.specMod.name" class="form-controlInputSpec" required>
                                                   </td> 
                                                  </tr>
                                                  <tr>
                                                     <td class="compartirProy">Proyecto: </td>
                                                      <td class="compartirText">          
                                                            <input type="text" ng-model="vm.specMod.id" class="form-controlInputSpec" required>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                                  <center><button id ="save" class="btn btn-primary" ng-click="vm.updateSpec($index)" onclick="recarga()">Enviar <span width="15px;" heigth="15px;" class="glyphicon glyphicon-cloud"></span></button></center>
                        </div>
                      </div>
                      </div>

                </div>