				
			<div class="tittleContent"> 
					<div class="idea">
						 <a href="" title="¿Que es un Requisito No Funcional?" data-toggle="popover" data-trigger="focus" data-content=" Los requisitos no funcionales especifican criterios que pueden usarse para juzgar la operación de un sistema en lugar de sus comportamientos específicos, ya que éstos corresponden a los requisitos funcionales. Por tanto, se refieren a todos los requisitos que no describen información a guardar, ni funciones a realizar, sino características de funcionamiento, por eso suelen denominarse Atributos de calidad de un sistema. Entre los ejemplos de requerimientos no funcionales tenemos: seguridad, usabilidad, rendimiento, etc." data-placement="bottom"><img src="app-content/bombilla.png" class="ideaIMG" alt="User Image" width="40px;" height="40px"></a>
					</div>
							<p>Modelo de Requisitos: Especificación de Requisistos No Funcionales</p> 	
			</div>

			<!--INSERCION DE REQUISITOS -->

			 <div class="flash-message" ng-if="flash">
            		<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
       		 </div>   

			<div class="col-md-12">
				<!--Header de la tabla-->
			    <div class="box box-solid box-success">
			        <div class="box-headernrf">
			                <h3 class="box-tittle"> Insercción de Requisitos No Funcionales</h3>
			        </div>
			    </div>
			    <div class="box-body">
			        <div class="panel panel-default">
			            <div class="box-body table-responsive no-padding">
			                <table class ="table">
			                    <thead>
			                        <tr>
			                            <th colspan="5"><center>Define tus requisitos no funcionales</center></th>
			                        </tr>
			                        <tr>
			                            <th colspan="5">
			                            <center>
			                            	Ejemplo: RNFX El sitema <"sistema"> debería <"funcionar">
			                            </center>
			                            </th>
			                            <th></th>
			                            <th></th>
			                         </tr>
			                    </thead>
			                    <tbody>
			                         <tr>
			                         	<th id="nrf">
			                         		RNF
			                         	</th>
			   							<th><input type="text" id="number" class="form-controlInputRf" ng-model="vm.requisitonf.number" required/></th>

			                            <th>
			                            	  <input type="text" id="content" class="form-controlInput" ng-model="vm.requisitonf.content" required />
			                            </th>
			                             <th>
                                            <select name="priority" ng-model="vm.requisitonf.priority" required>
                                                <option value="">-SeleccionarPrioridad-</option>
                                                <option value="M">Must have</option>
                                                <option value="S">Should have</option>
                                                <option value="C">Could have</option>
                                                <option value="W">Want to have</option>
                                              </select>
                                        </th>
                                        <th>
                                           <select name="category"  ng-model="vm.requisitonf.category" required>
                                            <option value="">-SeleccionarCategoría-</option>
                                            <option value="Rendimiento">Rendimiento</option>
                                            <option value="Disponibilidad">Disponibilidad</option>
                                            <option value="Accesibilidad">Accesibilidad</option>
                                            <option value="Usabilidad">Usabilidad</option>
                                            <option value="Estabilidad">Estabilidad</option>
                                            <option value="Portabilidad">Portabilidad</option>
                                            <option value="Costo">Costo</option>
                                            <option value="Interoperabilidad">Interoperabilidad</option>
                                            <option value="Escalabilidad">Escalabilidad</option>
                                            <option value="Concurrencia">Concurrencia</option>
                                            <option value="Mantenibilidad">Mantenibilidad</option>
                                            <option value="Interfaz">Interfaz</option>
                                            <option value="Seguridad">Seguridad</option>
                                        </th>
			                         </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			   		 <div class="button">
                    		<center><button id ="save" class="btn btn-primary" ng-click="vm.saveNRf()" onclick="recarga()">Guardar</button></center>
               		</div>


			</div>
			     <!--FIN INSERCION DE REQUISITOS-->

			     <!--LISTADO DE REQUISITOS-->
			<div class="col-md-12 ancho" > 
				<!--Header de la tabla-->
					    <div class="box box-solid box-success">
					        <div class="box-headernrf">
					                <h3 class="box-tittle"> Listado de Requisitos No Funcionales</h3>
					               
					                <div class="box-tools pull-right" >
					               	 	 <a href="" onclick = "pdf()"> <span class="imprimir glyphicon glyphicon-print"></span></button></a>
					                </div>
					        </div>
					    </div>
			    
						    <table id="table" class="table">
						    	<thead>
				    			<tr>
				    					<th> &nbsp Id: </th>
				    					<th>Requisitos:</th>
				    					<th>Prioridad: </th>
                                        <th>Categoría: </th>
								        <th></th>
								        <th></th>
				     			</tr>
				     			</thead>
				     			<tbody>
				      			<tr class="tr" ng-repeat=" rnf in vm.requisitosNoFuncionales">
				      					<td>RNF{{rnf.number}}</td>
								        <td>
								        	<a display="content" ng-model="vm.modificadonf" editablenrf="{{rnf.content}}">{{rnf.content}}</a>
								        </td>
								        <td>{{rnf.priority}}</td>
                                        <td>{{rnf.category}}</td>
								       	
								       	<td>
								        	<a href="" id ="updatenrf" ng-click="vm.updateNRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>
										</td>
								        <td>
								        	<a href="" id ="deletenrf" ng-click="vm.deleteNRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a>
								        </td>
								        <td></td>

								</tr>  
								</tbody>     
			   				</table>
			</div>	
				<!--FIN LISTADO DE REQUISITOS-->

<script>

function recarga() {
    location.reload();
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});


function pdf() {

  var doc = new jsPDF('a4');
  var elem = document.getElementById('table');
  var data = doc.autoTableHtmlToJson(elem);

  doc.text("Especificación de requisitos: ", 68, 40);
  doc.text("Requisitos No Funcionales", 70, 48);
  columns = [" Id", "Requisitos", "Prioridad", "Categoría" ];
  doc.autoTable(columns, data.rows,{
     columnStyles:{
      0: {columnWidth: 21},
      1: {columnWidth: 120},
      2: {columnWidth: 29},
      3: {columnWidth: 29}
    },      
    theme: 'grid',
    styles: {
        overflow: 'linebreak',
        fontSize: 10,
        valign: 'middle',
        rowHeight: 9
    },
    margin: {top: 60, left:5},
    alternateRowStyles: {
      fillColor: [239, 239, 239],
    },
    headerStyles: {
      fillColor: [187, 36, 36],
      fontStyle: 'normal',
      fontSize: 13
    }
  });
  doc.save("requisitosNoFuncionales.pdf");
}
</script>



					
				
	
    
 
				
 		   
     

          			
