				
			<div class="tittleContent"> 
					<div class="idea">
						 <a href="" title="¿Que es un Requisito No Funcional?" data-toggle="popover" data-trigger="focus" data-content="Especifican o restringen como se debería
						implementar el sistema" data-placement="bottom"><img src="app-content/bombilla.jpg" class="idea" alt="User Image" width="40px;" height="40px"></a>
					</div>
							<p>Modelo de Requisitos: Especificación de Requisistos No Funcionales</p> 	
			</div>
							
			 <div class="flash-message" ng-if="flash">
            		<div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
       		 </div>   

       		   <div class="col-md-12">
                   <div class="box box-solid box-success">
                      <div class="box-headernrf">
                              <h3 class="box-tittle"> Inserción de categorias</h3>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <tbody>
                                       <tr>
                                        
                                          <td  width="150px">
                                               <span class ="textTabla">Define tu categoría: </span>
                                          </td>


                                          <td><input type="text" id="content" class="textCategory" ng-model=vm.categorianrf.category required/></td>
                                          
                                            <td width="170px"><center>Listado de categorias: </center></td>
                                              <td><center><ul ng-repeat="c in vm.catnrf">
                                                  <a display="category" ng-model="vm.modcategorynrf" editable="{{c.category}}">{{c.category}}</a>

                                                  <a href="" id ="update" ng-click="vm.updateCatNrf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>
                                                  <a href="" id ="delete" ng-click="vm.deleteCatNrf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a></ul></center>
                                              </td>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="button">
                              <center><button id ="save" class="btn btn-primary" ng-click="vm.saveCatNrf()"  onclick="recarga()">Guardar Catergoría</button></center>
                  </div>       
                </div>



			<div class="col-md-12">
				<!--Header de la tabla-->
			    <div class="box box-solid box-success">
			        <div class="box-headernrf">
			                <h3 class="box-tittle"> Insercción de Requisitos No Funcionales</h3>
			        </div>
			    </div>
			    <div class="box-body">
			        <div class="panel panel-default">
			            <div class="box-body table-responsive no-padding">
			                <table class ="table">
			                    <tbody>
			                        <tr>
			                            <th><center>Define tus requisitos no funcionales</center></th>
			                        </tr>
			                        <tr>
			                            <th>
			                            <center> 
			                            	Ejemplo: RNFX El sitema <"sistema"> debería <"funcionar">
 			                            </center>
			                            </th>

			                         </tr>
			                         <tr>
			                         </tr>
			                         <tr>
			   
			                            <th>
			                            <center> 
			                            	  <input type="text" id="content" class="form-control" ng-model="vm.requisitonf.content" required />
 			                            </center>
			                            </th>
			                             <th>
                                            <select name="priority" ng-model="vm.requisitonf.priority" required>
                                                <option value="">--SeleccionarPrioridad---</option>
                                                <option value="M">Must have</option>
                                                <option value="S">Should have</option>
                                                <option value="C">Could have</option>
                                                <option value="W">Want to have</option>
                                              </select>
                                        </th>
                                        <th>
                                           <select name="category"  ng-model="vm.requisitonf.category" required>
                                            <option value="">SeleccionarCategoría-</option>
                                            <option ng-repeat="c in vm.catnrf">{{c.category}}</option>
                                        </th>
			                         </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			    </div>
			   		 <div class="button">
                    		<center><button id ="save" class="btn btn-primary" ng-click="vm.saveNRf()" onclick="recarga()">Guardar</button></center>
               		</div>


			</div>
			     
			<div class="col-md-12 ancho" > 
				<!--Header de la tabla-->
					    <div class="box box-solid box-success">
					        <div class="box-headernrf">
					                <h3 class="box-tittle"> Listado de Requisitos No Funcionales</h3>
					               
					                <div class="box-tools pull-right" >
					               	 	 <a href="" onclick = "pdf()"> <span class="imprimir glyphicon glyphicon-print"></span></button></a>
					                </div>
					        </div>
					    </div>
			    
						    <table id="table" class="table">
				    			<tr>
				    					<th>Requisitos:</th>
				    					<th>Prioridad: </th>
                                        <th>Categoría: </th>
								        <th></th>
								        <th></th>
				     			</tr>
				      			<tr class="tr" ng-repeat=" rnf in vm.nrf | orderBy: 'content'">
								        <td>
								        	<a display="content" ng-model="vm.modificadonf" editablenrf="{{rnf.content}}">{{rnf.content}}</a>
								        </td>
								        <td>{{rnf.priority}}</td>
                                        <td>{{rnf.category}}</td>
								       	
								       	<td>
								        	<a href="" id ="updatenrf" ng-click="vm.updateNRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>
										</td>
								        <td>
								        	<a href="" id ="deletenrf" ng-click="vm.deleteNRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a>
								        </td>
								        <td></td>

								</tr>       
			   				</table>
			</div>	

<script>

function recarga() {
    location.reload();
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});


function pdf() {

  var doc = new jsPDF('a4');
  var elem = document.getElementById('table');
  var data = doc.autoTableHtmlToJson(elem);

  //var imgData = 'data:image/jpeg;base64,/Use http://dataurl.net/#dataurlmaker

  //doc.addImage(imgData, 'JPEG', 15, 40, 20, 20);
  doc.text("Especificación de requisitos: ", 68, 40);
  doc.text("Requisitos No Funcionales", 70, 48);
  columns = [" Id    Requisito"];
  doc.autoTable(columns, data.rows,{
        
    theme: 'grid',
    styles: {
        overflow: 'linebreak',
        fontSize: 10,
        valign: 'middle',
        rowHeight: 9
    },
    margin: {top: 60},
    alternateRowStyles: {
      fillColor: [239, 239, 239],
    },
    headerStyles: {
      fillColor: [187, 36, 36],
      fontStyle: 'normal',
      fontSize: 13
    }
  });
  doc.save("requisitosNoFuncionales.pdf");
}
</script>



					
				
	
    
 
				
 		   
     

          			
