

	
			<div class="col-md-6">
                   <div class="box box-solid box-success">
                      <div class="box-headerProj">
                              <h3 class="box-tittle"> Información del proyecto</h3>
                      </div>
                 	 </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">

                              	<div class="form-group">
									<p class="textProj">Nombre: </p>
									<input type="text" class="form-controlInputProj" maxlength="20" ng-model="vm.project.name">
								</div>

								<div class="form-group">
										<p class="textProj">Descripción:  </p>
										<textarea class="form-controlInputProjTA" maxlength="70" ng-model="vm.project.desc"></textarea>
								</div>

								<div class='form-group'>
												<p class="textProj">Fecha de Inicio: </p>
								 			  	<div class="input-group" ng-model="vm.project.fechaInicio">
    												<input type="text" class="form-controlInputDataProj"  datepicker ng-model="vm.project.fechaInicio" />
  												</div>
  								</div>

								<div class="form-group">
										<p class="textProj">Iniciado por: </p>
										<input type="text" class="form-controlInputProj"ng-model="vm.user.email" >
								</div>
								<br>
								<div class="box-footer">
									<a ui-sref="home"><center><button class="btn btn-primary" ng-click="vm.saveProj()" onclick="recarga()">Crear Proyecto</button></center></a>
								</div>
								<br>
                          </div>
                      </div>
                  </div>
                 
            </div>

<script>
function recarga() {
    location.reload();
}

</script>