
<div class="herramientas">
    <a href="" ><span class="iconsEdicion"><img src="app-content/icons/exportar.png" onclick="exportarPDF()"></span></a>

  <a href="" ><span class="iconsEdicion" ng-show = "vm.result == true"><img src="app-content/icons/edit.png" height="25px" ng-click="vm.modificarJson()" onclick="convertirJSON(), recargaTime()"></span></a>

  <a href=""><span class="iconsEdicion" ng-show ="vm.result == false"><img src="app-content/icons/guardar.png" ng-click="vm.recibeJson()" onclick="convertirJSON(), recargaTime()"></span>
  </a>
 
   


  <span class="tituloHerramientas"><span class="glyphicon glyphicon-wrench"></span> Herramientas </span> 

  <span class="tituloEdicion">Modelo de Casos de uso: Edición de Diagramas de Casos de Uso</span>
       
</div>

<div class="panelEdicion"> 
                
                    <div class="actorCU"  id="actor" ><img src="app-content/icons/actor.png"><div class="textHerramientasActor">Actor</div></div>
                    <div class="casoUso"  id="CU" ><img src="app-content/icons/CU.png"><div class="textHerramientasCU">Caso de Uso</div></div>
                    <div class="system"  id="system" ><img src="app-content/icons/system.png"><div class="textHerramientasSistema">Sistema</div></div>
                    <div class="asociacion"  id="asoc" ><img src="app-content/icons/asoc.png"><div class="textHerramientasAsoc">Asocioacion</div></div>
                    <div class="include"  id="include" ><img src="app-content/icons/include.png"><div class="textHerramientasInclude">Include</div></div>
                    <div class="extend"  id="exclude" ><img src="app-content/icons/exclude.png"><div class="textHerramientasExclude">Extend</div></div>
                    <div class="generalizacion"  id="generalizacion" ><img src="app-content/icons/generalizacion.png"><div class="textHerramientasGen">Generalización</div></div>
                    <div class="buttonText"  id="text" ><img src="app-content/icons/text.png"><div class="textHerramientasTexto">Texto</div></div>
                    <div class="" ><button class="btn btn-dangerSmall" ng-click="vm.eliminarDiagrama()" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span> Eliminar Diagrama</button></div>
          
<hr class="style13">
                    			
                
  </div>
  

  <div class="herramientasDerecha"></div>
  <div id="load"></div>

  <div class="hojaEdicion" id="hojaEdicion">
     
      <div class="flash-messageDiagram" ng-if="flash">
                  <div class="{{'alertDiagram alert-' + flash.type}}" ng-bind="flash.message"></div>                  
      </div>  

      <canvas  id="pizarra" height="550px" width="920px">

      </canvas>  

  </div>

  <div class="herramientasAbajo"></div>

<script>

function recargaTime() {
  setTimeout(function(){
      location.reload(true);
  }, 300);
}

var canvas = new fabric.Canvas('pizarra');

var HideControls = {
            'tl':true,
            'tr':false,
            'bl':true,
            'br':true,
            'ml':true,
            'mt':true,
            'mr':true,
            'mb':true,
            'mtr':true
        };

  $("#actor").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/actor.svg', function (img) {
                img.top = 60;
                img.left = 30;
                img.width = 31;
                img.height = 70;
                img.setControlsVisibility(HideControls);
                canvas.add(img);  
          });
  });

  $("#CU").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/CU.svg', function (img) {
                img.top = 60;
                img.left = 30;
                img.width = 130;
                img.height = 60;
                canvas.add(img);
          });
  });

  $("#asoc").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/asoc.svg', function (img) {
                img.top = 60;
                img.left = 30;
                canvas.add(img);
          });
  });

  $("#system").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/sistema.png', function (img) {
                img.top = 60;
                img.left = 30;
                canvas.add(img);
          });
  });
  $("#include").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/include.svg', function (img) {
                img.top = 60;
                img.left = 30;
                img.width = 130;
                img.height = 35;
                canvas.add(img);
          });
  });

  $("#generalizacion").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/generalizacion.svg', function (img) {
                img.top = 60;
                img.left = 30;
                img.height = 80;
                img.width = 30;
                canvas.add(img);
          });
  });

  $("#exclude").on("click", function(e) {
        fabric.Image.fromURL('app-content/icons/extend.svg', function (img) {
                img.top = 60;
                img.left = 30;
                img.width = 130;
                img.height = 40;
                canvas.add(img);
          });
  });
  $("#text").on("click", function(e) {
          var text = new fabric.IText('Texto', {
           fontSize: 20,
           left: 100, 
           top: 100, 
         });
          canvas.add(text);
  });

function addDeleteBtn(x, y){
    $(".deleteBtn").remove(); 
    var btnLeft = x-10;
    var btnTop = y-10;
    var deleteBtn = '<img src="app-content/delete.png" class="deleteBtn" style="position:absolute;top:'+btnTop+'px;left:'+btnLeft+'px;cursor:pointer;width:20px;height:20px;"/>';
    $(".canvas-container").append(deleteBtn);
}

canvas.on('object:selected',function(e){
        addDeleteBtn(e.target.oCoords.tr.x, e.target.oCoords.tr.y);
});

canvas.on('mouse:down',function(e){
    if(!canvas.getActiveObject())
    {
        $(".deleteBtn").remove(); 
    }
});

canvas.on('object:modified',function(e){
    addDeleteBtn(e.target.oCoords.tr.x, e.target.oCoords.tr.y);
});

canvas.on('object:scaling',function(e){
    $(".deleteBtn").remove(); 
});
canvas.on('object:moving',function(e){
    $(".deleteBtn").remove(); 
});
canvas.on('object:rotating',function(e){
    $(".deleteBtn").remove(); 
});

$(document).on('click',".deleteBtn",function(){
    if(canvas.getActiveObject())
    {
        canvas.remove(canvas.getActiveObject());
        $(".deleteBtn").remove();
    }
});


/*Muestra el diagrama que hemos editado para un proyecto concreto.*/
var json = localStorage.getItem('angularToHtml');
canvas.clear();
localStorage.removeItem('angularToHtml');
canvas.loadFromJSON(json, canvas.renderAll.bind(canvas), function(o, object) {
  fabric.log(o, object);
});

/*Enviar JSON al angular*/
function convertirJSON() {
    var data = canvas.toJSON();  
    var string  = JSON.stringify(data);
    localStorage.setItem('addJson', string);     
}

function exportarPDF(){
  var canvas = document.getElementById('pizarra');
  var dataURL = canvas.toDataURL();

  console.log(dataURL);
  pdf(dataURL);

}

function pdf(imagen){
  var doc = new jsPDF('a4');
  var elem = document.getElementById('hojaEdicion');
  //var data = doc.autoTableHtmlToJson(elem);

  doc.text("Modelo de casos de uso: ", 70, 40);
  doc.text("Diagrama de casos de uso", 70, 48);

  doc.addImage(imagen, 'JPEG', 5, 55, 215, 150 )
  doc.save("diagrama.pdf");
  alert("Imprimiendo DiagramaCasosdDeUso.pdf");
}
</script>