
 <div class="tittleContent"> 
            <div class="idea">
                 <a href="" title="¿Que es una Matriz de trazabilidad?" data-toggle="popover" data-trigger="focus" data-content="La matriz de trazabilidad es un documento/herramienta que nos permite realizar el seguimiento de requisitos. Para obtener un buen seguimiento de requisitos, necesitamos relacionar el modelo de requisitos con el modelo de casos de uso, esto nos va a permitir averiguar si existe algun requisito que no esté tratado en los casos de uso o averiguar si hay algun requisito que este tratado en los casos de uso y no este en el modelo de requisitos. Consecuentemente obtendremos una relacion muchos a muchos donde un caso de uso tratará a muchos requisitos funcionales y un requisito funcional puede estar presente en varios casos de uso." data-placement="bottom"><img src="app-content/bombilla.png" class="ideaIMG" alt="User Image"></a>
            </div>
                    <p>Modelo de Casos de Uso: Matriz de Trazabilidad</p>  
</div>
                            
 
 	<center><p class="textMat">Atención:  tu matriz va a tener: <input type="text" class="inputMatBloq" id="filas" value="{{vm.requisitosFuncionales.length}}" disabled>Requisitos funcionales y 
 	 <input type="text" class="inputMatBloq" id="columnas" value="{{vm.especificaciones.length}}" disabled> Casos de Uso</p></center>  

 	
 	
 	<div class="col-md-12">
 	 <div class="flash-message" ng-if="flash">
        <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
 	</div> 
        <!--Header de la tabla-->
        <div class="box box-solid box-success">
            <div class="box-headerMat">
                    <h3 class="box-tittle"> Matriz de trazabilidad</h3>
            </div>
		</div>
		<div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">

                        <table class="table">
                                   	<td class="thMat">CU/RF</td>
                                    <td class="thMat" ng-repeat="s in vm.especificaciones"> <span class="qs">CU {{s.id}}<span class="popover above">{{s.name}}</span></span></td>

                                    <tr ng-repeat ="r in vm.requisitosFuncionales">
                                        <td class="tdMat">RF{{r.number}}</td>
                                        <td ng-repeat="s in vm.especificaciones">
                                        	<input type='checkbox' ng-click="vm.avisar(s.id, r.number, $id)" ng-model="vm.selected[$id]">{{r.number}}{{s.id}}
											<span ng-repeat="sel in vm.matriz">
	                                        		<span ng-show="sel.idCU == s.id && sel.idRF == r.number">
	                                        			<img src="app-content/ok.png" width="25px" height="25px">
	                                        		</span>
	                                        </span>
                                        
                                        </td>

                                   </tr>
                        </table>
             	 </div>
                 
                </div>
			</div>
				<div class="button">
					<center>
					 	<div>

                        	
                        	<!--<span ng-if="vm.matrix.length > 0"> <a ui-sref="matrixLoad"><button  class="btn btn-primary" ng-click="vm.updateMatrix()">Modificar Matriz</button></a></span>-->
                        	
                        	<a href=""><button  class="btn btn-primary" ng-click="vm.isChecked()" onclick="recargaTime()">Guardar Matriz</button></a>
                       
                         	<a ui-sref="matrixLoad"><button class="btn btn-primary">Ver Matriz</button></a>
                      	</div>
                    </center>
                  </div>     
	</div>



	<div class="col-md-12">
        <!--Header de la tabla-->
        <div class="box box-solid box-success">
            <div class="box-headerMat">
                    <h3 class="box-tittle"> Introduciendo en la matriz </h3>
            </div>
		</div>
		<div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">

                        <table class="table">
	                            <tbody>
										<tr ng-repeat="result in vm.prueba">
											<td> <center>El CU {{result.idCU}} esta cubierto por el RF{{result.idRF}}</center></td>	
										</tr>
	                           	</tbody>

                        </table>
             	 	</div>
          
                </div>
			</div>
	</div>


 <script>	

function recarga() {
    location.reload();
}
function recargaTime() {
	setTimeout(function(){
   		window.location.reload(1);
	}, 300);
}

 $(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

</script>

<!--
                                        	
	1/08/2017
	

ng-click="vm.quitarMatrix(s.id, r.number, $id)" ng-model="vm.selectedMod[$id]"





                                        <span ng-repeat="select in vm.matriz">
											<span ng-show="select.idRF == r.number && select.idCU == s.id">
										    		<input type='checkbox' checked="true">
										    </span>
										</span>











                                        		<span ng-if="select.idRF == r.number && select.idCU == s.id; else elseBlock" ng-style="{color: 'green'}">

onclick="recarga()"
function informarItemsElegidos(elemento) {

var elementosObtenidos = document.getElementsByName(elemento);
var msg = 'Animales que ha elegido que le gustan incluye: ';

var elegidos = 0;

for (var i = 0; i < elementosObtenidos.length; i++) {
	if (elementosObtenidos[i].checked){
		++elegidos;
		msg = msg + elementosObtenidos[i].value + ', '
	}
};

if (elegidos == 0 ) {msg = '¡No ha elegido ningún animal!';}

var msg2 = 'El número total de animales disponibles era ' + elementosObtenidos.length + ' y usted ha elegido ' + elegidos;

alert (msg);
alert (msg2);


}


 <br><center><button class="btn btn-primary" onclick="insert()">Generar Matriz</button></center>
<th class="thMat">CU/RF</th>
                                        <th class="thMat" ng-repeat="s in vm.specifications">CU {{s.id}}</th>
<tr ng-repeat ="r in vm.rf">
                                        <td class="tdMat">RF{{r.number}}</td>
                                    </tr>
function insert(){
		   var columnas = document.getElementById("columnas").value;
		   var filas = document.getElementById("filas").value;
		   filas = filas+1;

		   for(var i = 1; i<filas; i++){
		   	for(var j=0; j<columnas; j++){

			   var row = document.getElementsByTagName("tr")[i];
			   
			   var x = row.insertCell(1);

			   var elementid = document.getElementsByTagName("td").length
			   x.setAttribute('id',elementid);
			   x.className = "tdMat";
			   x.innerHTML="<input type='checkbox' name='marcado' >"+"Fila: "+i+"columnas"+j+"";
		 	  }
			}
		}
	

-->