                
            <div class="tittleContent"> 
                    <div class="idea">
                         <a href="" title="¿Que son las especificaciones de casos de uso?" data-toggle="popover" data-trigger="focus" data-content="Las especificaciones de casos de uso son la versión completa del diagramado de casos de uso, proporcionando una descripción textual completa sobre el caso de uso. Este documento escrito sigue una estructura formada nombre, descripción, precondiciones, postcondiciones, flujos principales y alternativos." data-placement="bottom">
                         <img src="app-content/bombilla.png" class="ideaIMG" alt="User Image"></a>
                    </div>
                            <p>Modelo de Casos de uso: Especificación de Casos de usos</p>  
            </div>
                            
            <div class="col-md-12Spec">
             <div class="flash-message" ng-if="flash">
                    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
             </div> 
                <!--Header de la tabla-->
                <div class="box box-solid box-success">
                    <div class="box-headerSpec">
                            <h3 class="box-tittle"> Especificación de Caso de uso</h3>
                    </div>
                </div>

                <div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">
                            <table class ="table" border="3">
                                <thead>
                                <tr>
                                  <th colspan="2"> Insersción de especificaciones</th>
                                </tr>
                                </thead>

                                <tbody>
                                  <tr>
                                    <td class="attrTextSpec">Nombre: </td> 
                                    <td> <input type="text" id="descripcion" class="form-controlInputSpec" ng-model=vm.spec.name required/></td> 
                                  </tr>

                                  <tr>
                                    <td class="attrTextSpec">Id: </td>
                                    <td><input type="text" id="descripcion" class="form-controlInputSpecId" ng-model=vm.spec.id required/></td>
                                  </tr>
                                   
                                  <tr>
                                    <td class="attrTextSpec">Descripción: </td>
                                    <td> <textarea class="form-controlInputSpecTA" ng-model=vm.spec.desc required/> </textarea>  </td>
                                  </tr>
                                   
                                  <tr>
                                    <td class="attrTextSpec">Actor Principal: </td>
                                    <td><input type="text" id="actorPrin" class="form-controlInputSpec" ng-model=vm.spec.actorPrin required/></td>
                                  </tr>

                                   <tr>
                                      <td class="attrTextSpec">Actor Secundario: </td>
                                      <td><input type="text" id="actorSec" class="form-controlInputSpec" ng-model=vm.spec.actorSec  required/>
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                      <td class="attrTextSpec">Pre-Condición:</td>
                                      <td> <input type="text" id="preCon" class="form-controlInputSpec" ng-model=vm.spec.preCon required/> 
                                      </td>
                                  </tr>
                                  
                                  <tr>
                                    <td class="attrTextSpec">Flujo Principal: </td>
                                    <td>
                                   		 <textarea class="form-controlInputSpecTA" ng-model="vm.spec.flujoPrin"></textarea>
                                    </td>
                                  </tr>
                                  
                                  <tr>
                                    <td class="attrTextSpec">Post-Condición:</td>
                                    <td><input type="text" id="postCon" class="form-controlInputSpec" ng-model=vm.spec.postCon required/>
                                    </td>

                                  </tr>

                                  <tr>
                                     <td class="attrTextSpec">Flujo Alternativo:</td>
                                      <td>
                                      		 <textarea class="form-controlInputSpecTA" ng-model="vm.spec.flujoAlt"></textarea>                                   
                                      </td>
                                     	
                                  </tr>    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                     <center><div>
                          <button id ="save" class="btn btn-primary" ng-click="vm.saveSpec()" onclick="recargaTime()">Guardar</button>
                          <a ui-sref="verEspecificaciones"><button class="btn btn-primary">Ver especificaciones</button></a>
                      </div></center>
              </div>

   
<script>

function recarga() {
    location.reload();
}

function recargaTime() {
  setTimeout(function(){
      window.location.reload(1);
  }, 300);
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

function clearInput() {
    document.getElementById("input").value="";
}
</script>

    
 
                
           
     

                    
