 <!--*********INICIO VENTAN MODAL**********-->
                     <div class="modal fade" id="editar" role="dialog">
                        <div class="modal-dialog modal-lg" >
                        <div class="modal-content">

                          <!-- Modal content-->
                          <div class="col-md-12">
                            <div class="flash-message" ng-if="flash">
                                 <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                            </div>   
                              <div class="box box-solid box-success">
                                  <div class="box-headerSpec">
                                          <h3 class="box-tittle"> Edición de Especificaciones</h3>
                                  </div>
                              </div>
                              

                              <div class="box-body">
                                  <div class="panel panel-default">
                                      <div class="box-body table-responsive no-padding">
                                          <table class ="table" border="3">
                                              <thead>
                                              
                                              </thead>

                                              <tbody>
                                                <tr>
                                                   <td class="attrTextSpec">Nombre: </td> 
                                                   <td>          
                                                          <input type="text" ng-model="vm.specMod.name" class="form-controlInputSpec" required>
                                                   </td> 
                                                  </tr>
                                                  <tr>
                                                     <td class="attrTextSpec">Id: </td>
                                                      <td>          
                                                            <input type="text" ng-model="vm.specMod.id" class="form-controlInputSpec" required>
                                                      </td>
                                                  </tr>
                                                 
                                                  <tr>
                                                     <td class="attrTextSpec">Descripción: </td>
                                                     <td> <input type="text"  ng-model=vm.specMod.desc class="form-controlInputSpec" required/> 
                                                     </td>
                                                  </tr>
                                                 
                                                <tr>
                                                    <td class="attrTextSpec">Actor Principal: </td>
                                                    <td><input type="text" ng-model=vm.specMod.actorPrin class="form-controlInputSpec"   required/>
                                                    </td>
                                                </tr>

                                                 <tr>
                                                    <td class="attrTextSpec">Actor Secundario: </td>
                                                    <td><input type="text" ng-model=vm.specMod.actorSec class="form-controlInputSpec" required/>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class="attrTextSpec">Pre-Condición:</td>
                                                    <td> <input type="text" ng-model=vm.specMod.preCon class="form-controlInputSpec" required/> 
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                  <td class="attrTextSpec">Flujo Principal: </td>
                                                  <td>
                                                     <textarea class="form-controlInputSpecTA" ng-model="vm.specMod.flujoPrin"></textarea>
                                                  </td>
                                                </tr>
                                                
                                                <tr>
                                                  <td class="attrTextSpec">Post-Condición:</td>
                                                  <td><input type="text" class="form-controlInputSpec" ng-model=vm.specMod.postCon required/>
                                                  </td>

                                                </tr>

                                                <tr>
                                                   <td class="attrTextSpec">Flujo Alternativo:</td>
                                                    <td>
                                                         <textarea class="form-controlInputSpecTA" ng-model="vm.specMod.flujoAlt"></textarea>
                                                    </td>
                                                </tr>    
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                                  <center><button id ="save" class="btn btn-primary" ng-click="vm.updateSpec($index)" onclick="recarga()">Modificar</button></center>
                        </div>
                      </div>
                      </div>

                </div>
                <!--****************FIN VENTANA MODAL*****************-->