   
  <br><br>

  <!--*********INICIO VENTANA MODAL**********-->
                     <div class="modal fade" id="editar" role="dialog">
                        <div class="modal-dialog modal-lg" >
                        <div class="modal-content">

                          <!-- Modal content-->
                          <div class="col-md-12">
                            <div class="flash-message" ng-if="flash">
                                 <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
                            </div>   
                              <div class="box box-solid box-success">
                                  <div class="box-headerSpec">
                                          <h3 class="box-tittle"> Edición de Especificaciones</h3>
                                  </div>
                              </div>
                              

                              <div class="box-body">
                                  <div class="panel panel-default">
                                      <div class="box-body table-responsive no-padding">
                                          <table class ="table" border="3">
                                              <thead>
                                              
                                              </thead>

                                              <tbody>
                                                <tr>
                                                   <td class="attrTextSpec">Nombre: </td> 
                                                   <td>          
                                                          <input type="text" ng-model="vm.specMod.name" class="form-controlInputSpec" required>
                                                   </td> 
                                                  </tr>
                                                  <tr>
                                                     <td class="attrTextSpec">Id: </td>
                                                      <td>          
                                                            <input type="text" ng-model="vm.specMod.id" class="form-controlInputSpec" required>
                                                      </td>
                                                  </tr>
                                                 
                                                  <tr>
                                                     <td class="attrTextSpec">Descripción: </td>
                                                     <td> <input type="text"  ng-model=vm.specMod.desc class="form-controlInputSpec" required/> 
                                                     </td>
                                                  </tr>
                                                 
                                                <tr>
                                                    <td class="attrTextSpec">Actor Principal: </td>
                                                    <td><input type="text" ng-model=vm.specMod.actorPrin class="form-controlInputSpec"   required/>
                                                    </td>
                                                </tr>

                                                 <tr>
                                                    <td class="attrTextSpec">Actor Secundario: </td>
                                                    <td><input type="text" ng-model=vm.specMod.actorSec class="form-controlInputSpec" required/>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td class="attrTextSpec">Pre-Condición:</td>
                                                    <td> <input type="text" ng-model=vm.specMod.preCon class="form-controlInputSpec" required/> 
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                  <td class="attrTextSpec">Flujo Principal: </td>
                                                  <td>
                                                     <textarea class="form-controlInputSpecTA" ng-model="vm.specMod.flujoPrin"></textarea>
                                                  </td>
                                                </tr>
                                                
                                                <tr>
                                                  <td class="attrTextSpec">Post-Condición:</td>
                                                  <td><input type="text" class="form-controlInputSpec" ng-model=vm.specMod.postCon required/>
                                                  </td>

                                                </tr>

                                                <tr>
                                                   <td class="attrTextSpec">Flujo Alternativo:</td>
                                                    <td>
                                                         <textarea class="form-controlInputSpecTA" ng-model="vm.specMod.flujoAlt"></textarea>
                                                    </td>
                                                </tr>    
                                              </tbody>
                                          </table>
                                      </div>
                                  </div>
                              </div>
                                  <center><button id ="save" class="btn btn-primary" ng-click="vm.updateSpec($index)" onclick="recargaTime()" >Modificar</button></center>
                        </div>
                      </div>
                      </div>

                </div>
                <!--****************FIN VENTANA MODAL*****************-->
 <div class="col-md-12">
    <div class="box box-solid box-success">
                      <div class="box-headerSpec">
                              <h3 class="box-tittle"> Listado de especificaciones</h3>
                               <div class="box-tools pull-right" >
                                        <a href="" onclick="pdfTodo()" ><span class="imprimir glyphicon glyphicon-print"></span></a>
                                    </div>
                             
                      </div>
                  </div>
                  </div>
 <ul ng-repeat="s in vm.especificaciones">
 <ol>

  <div class="col-md-12">
            <div class="flash-message" ng-if="flash">
                    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
             </div> 
                <!--Header de la tabla-->
                <div class="box box-solid box-success">
                    <div class="box-headerSpec">
                            <h3 class="box-tittle"> Especificación de Caso de uso: id: {{s.id}}, nombre: {{s.name}}</h3>
                             	<div class="box-tools pull-right" >
                                        <!--<a href="" onclick="pdf()" ><span class="imprimir glyphicon glyphicon-print"></span></a> &nbsp &nbsp-->
                                        <a href="" id ="update" data-toggle="modal" ng-click="vm.getIndex($index)" data-target="#editar"><span width="30px;" heigth="30px;" class="imprimir glyphicon-pencil"></span></a>
                                        &nbsp &nbsp   
                            			<a href="" id ="delete" ng-click="vm.deleteSpec($index)" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="imprimir glyphicon-trash"></span></a> 
								              </div>
                    </div>

                  <div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">
                            <table  class ="table" border="3" id="table">
                                <thead>
                                  <tr>
                                      <th></th>
                                      <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                     <td class="attrTextSpec">Nombre: </td> 
                                     <td>          
                                       {{s.name}} 
                                     </td> 
                                  </tr>

                                  <tr>
                                      <td class="attrTextSpec">Id: </td>
                                      <td>          
                                          {{s.id}}
                                      </td>
                                  </tr>
                                   
                                    <tr>
                                       <td class="attrTextSpec">Descripción: </td>
                                       <td> 
                                        {{s.desc}}
                                       </td>
                                    </tr>
                                   
                                    <tr>
                                        <td class="attrTextSpec">Actor Principal: </td>
                                        <td>
                                            {{s.actorPrin}}
                                        </td>
                                    </tr>

                                    <tr>
                                      <td class="attrTextSpec">Actor Secundario: </td>
                                      <td>
                                        {{s.actorSec}}
                                      </td>
                                    </tr>
                                  
                                    <tr>
                                      <td class="attrTextSpec">Pre-Condición:</td>
                                      <td> 
                                        {{s.preCon}}
                                      </td>
                                    </tr>
                                  	<tr>
                                  		<td class="attrTextSpec" id="flujoPrincipal">FlujoPrincipal: </td>
                                  		<td>
                                  				<pre class="pre">{{s.flujoPrin}}</pre>
                                  		</td>
                                    </tr>
                                    <tr>
                                      <td class="attrTextSpec">Post-Condición:</td>
                                      <td>
                                       			 {{s.postCon}}
                                      </td>
                                    </tr>

                                  <tr>
                                    <td class="attrTextSpec">Flujo Alternativo:</td>
                                    <td>
                                  		{{s.flujoAlt}}
                                  	</td>
                                  </tr>  
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </ol>
        </ul>
        </div>

        	

<script>
function recarga() {
	location.reload();
}


function recargaTime() {
  setTimeout(function(){
      window.location.reload(1);
  }, 300);
}

function pdfTodo(){
  var long = document.getElementsByTagName("table").length;
  var i = 1;

  while(i<long)
  {
        var doc = new jsPDF('a4');
        var elem = document.getElementsByTagName("table")[i];
        var data = doc.autoTableHtmlToJson(elem);

        doc.text("Modelo de Casos de uso:", 70, 25);
        doc.text("Especificación de Casos de Uso", 70, 33);
        columns = [" ",  "  Especificación de Casos de uso"];
        
        while(i<long){
          var elem = document.getElementsByTagName("table")[i];
          var data = doc.autoTableHtmlToJson(elem);
          doc.autoTable(columns, data.rows,{
        
          columnStyles:{
            0: {columnWidth: 40},
            1: {columnWidth: 110},
          },     
          theme: 'grid',
          styles: {
              overflow: 'linebreak',
              fontSize: 10,
              valign: 'middle',
              rowHeight: 9
          },
          margin: {top: 40, left: 30},
          alternateRowStyles: {
            fillColor: [239, 239, 239],
          },
          headerStyles: {
            fillColor: [23, 110, 209],
            fontStyle: 'normal',
            fontSize: 13
          }
        });
             doc.addPage();
             i++;
        }     
  }
    doc.save("EspecificaciondeCasosdeUsoCompleta.pdf");
    alert("Imprimiendo EspecificacionesdeCasosdeUso.pdf")
}

function pdf() {

        var long = document.getElementsByTagName("table").length;

        var doc = new jsPDF('a4');
        var elem = document.getElementById("table");
        var data = doc.autoTableHtmlToJson(elem);

        doc.text("Modelo de Casos de uso:", 70, 40);
        doc.text("Especificación de Casos de Uso", 70, 48);
        columns = [" ",  "  Especificación de Casos de uso"];
        
        doc.autoTable(columns, data.rows,{
          
          columnStyles:{
            0: {columnWidth: 40},
            1: {columnWidth: 110},
          },     
          theme: 'grid',
          styles: {
              overflow: 'linebreak',
              fontSize: 10,
              valign: 'middle',
              rowHeight: 9
          },
          margin: {top: 60, left: 25},
          alternateRowStyles: {
            fillColor: [239, 239, 239],
          },
          headerStyles: {
            fillColor: [23, 110, 209],
            fontStyle: 'normal',
            fontSize: 13
          }
        });
        doc.save("EspecificaciondeCasosdeUso.pdf");
}

</script>
