                
            <div class="tittleContent"> 
                    <div class="idea">
                         <a href="" title="¿Que es un Requisito Funcional?" data-toggle="popover" data-trigger="focus" data-content=
                          "· Un requisito funcional define una función del sistema.
                            Una función es descrita como un conjunto de entradas, comportamientos y salidas.
                           Los requisitos funcionales pueden ser: cálculos, detalles técnicos, manipulación de datos y otras funcionalidades específicas que se supone, un sistema debe cumplir. 
                           Los requisitos de comportamiento para cada requisito funcional se muestran en los casos de uso. Son complementados por los requisitos no funcionales, que se enfocan en cambio en el diseño o la implementación." 
                          data-placement="bottom"><img src="app-content/bombilla.png" class="ideaIMG" alt="User Image"></a>
                    </div>
                            <p>Modelo de Requisitos: Especificación de Requisistos Funcionales</p>  
            </div>
                            
             <div class="flash-message" ng-if="flash">
                    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
             </div>         
            
              <!--INSERCION DE CATEGORIAS-->
                 
              <div class="col-md-12">
                   <div class="box box-solid box-success">
                      <div class="box-header">
                              <h3 class="box-tittle"> Inserción de categorias</h3>
                      </div>
                  </div>

                  <div class="box-body">
                      <div class="panel panel-default">
                          <div class="box-body table-responsive no-padding">
                              <table class ="table">
                                  <tbody>
                                       <tr>
                                        
                                          <td  width="150px">
                                               <span class ="textTabla">Define tu categoría: </span>
                                          </td>


                                          <td><input type="text" id="content" class="textCategory" ng-model=vm.categoria.category required/></td>
                                          
                                            <td width="170px"><center>Listado de categorias: </center></td>
                                            <td></td>
                                            <td><ul ng-repeat="c in vm.categorias">
                                                      <li>  <a display="category" ng-model="vm.modcategory" editable="{{r.category}}">{{c.category}}</a> 
                                                        
                                                            <a href="" id ="update" ng-click="vm.updateCat($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>   
                                                            
                                                            <a href="" id ="delete" ng-click="vm.deleteCat($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a> 
                                                      </li>
                                                  </ul>          
                                            </td>
                                            </tr>  
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="button">
                              <center><button id ="save" class="btn btn-primary" ng-click="vm.saveCat()" onclick="recarga()" >Guardar Catergoría</button></center>
                  </div>       
                </div>
              
            <!---FIN INSERCION CATEROGIRAS->
              

            <!INSERSCION DE REQUISITOS -->
       
            <div class="col-md-12">
                <!--Header de la tabla-->
                <div class="box box-solid box-success">
                    <div class="box-header">
                            <h3 class="box-tittle"> Inserción de Requisitos Funcionales:</h3>
                    </div>
                </div>

                <div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">
                        <form name="myForm">
                            <table class ="table">
                                <thead>
                                    <tr>
                                        <th colspan="5"><center>Define tus requisitos funcionales</center></th>
                                    </tr>
                                    <tr>
                                        <th colspan="5">
                                        <center> 
                                            Ejemplo: RFX El sitema <"sistema"> debería <"funcionar">
                                        </center>
                                        </th>
                                        <th></th>
                                        <th></th>
                                     </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                        <th id="rf">
                                          RF
                                        </th>
                                        <th>
                                          <input type="text" id="number" class="form-controlInputRf" name="number" ng-model="vm.requisito.number" required/>
                                        </th>
                                        <th>
                                            <input type="text" id="content" class="form-controlInput" ng-model="vm.requisito.content" required />
                                        </th>
                                        <th>
                                            <select name="priority" ng-model="vm.requisito.priority" required>
                                                <option value="">-SeleccionarPrioridad-</option>
                                                <option value="M">Must have</option>
                                                <option value="S">Should have</option>
                                                <option value="C">Could have</option>
                                                <option value="W">Want to have</option>
                                            </select>
                                        </th>
                                        <th>
                                           <select name="category"  ng-model="vm.requisito.category" required>
                                            <option value="">-SeleccionarCategoría-</option>
                                            <option ng-repeat="c in vm.categorias">{{c.category}}</option>
                                        </th>
                                     </tr>
                                </tbody>
                            </table>
                            </form>
                        </div>
                    </div>
                </div>
                     <div class="button">
                            <center><button id ="save" class="btn btn-primary" ng-click="vm.saveRf()" onclick="recarga()">Guardar</button></center>
                    </div>
            </div>

            <!--FIN INSERCION DE REQUISITOS -->

            <!--LISTADO DE LOS REQUISITOS-->
                 
            <div class="col-md-12 ancho" > 
                <!--Header de la tabla-->
                        <div class="box box-solid box-success">
                            <div class="box-header">
                                    <h3 class="box-tittle"> Listado de Requisitos Funcionales</h3>
                                   
                                    <div class="box-tools pull-right" >
                                        <a href="" onclick="pdf()" ><span class="imprimir glyphicon glyphicon-print"></span></a>
                                    </div>
                            </div>
                        </div>
                
                            <table id="table" class="table">
                              <thead>
                                  <tr>
                                          <th> &nbsp Id: </th>
                                          <th>Requisito:</th>
                                          <th>Prioridad: </th>
                                          <th>Categoría: </th>

                                          <th></th>
                                          <th></th>
                                          
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="tr" ng-repeat=" r in vm.requisitosFuncionales" ng-click="vm.table()">
                                          <td>RF{{r.number}}</td>
                                          <td>
                                              <a display="content" ng-model="vm.modificado" editable="{{r.content}}">{{r.content}}</a> 
                                          </td>
                                          <td>{{r.priority}}</td>
                                          <td>{{r.category}}</td>
                                          
                                          <td>
                                              <a href="" id ="update" ng-click="vm.updateRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>
                                          </td>
                                          <td>
                                              <a href="" id ="delete" ng-click="vm.deleteRf($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a>
                                          </td>
                                         
                                  </tr>  
                              </tbody>   

                            </table>
           		 </div> 
           		 <!--FIN LISTADO DE REQUISITOS--> 
        		
<script>

function recarga() {
    location.reload();
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

/*
$(document).ready(function() {
    $('#table').dataTable({
      data: datos
    });
});
*/
/*
function validar(){
  var number = document.getElementById('number').value;
  var content = document.getElementById('content').value;

  if(number === ''){
    alert("No has introducido el Id");
  }

  if(content === ''){
    alert("No has introducido el contenido del requisito");
  }

}*/

function pdf() {

  var doc = new jsPDF('a4');
  var elem = document.getElementById('table');
  var data = doc.autoTableHtmlToJson(elem);

  doc.text("Especificación de requisitos: ", 70, 40);
  doc.text("Requisitos Funcionales", 75, 48);
  columns = [" Id",  "Requisito", "Prioridad", "Categoría"];
  doc.autoTable(columns, data.rows,{
    
    columnStyles:{
      0: {columnWidth: 18},
      1: {columnWidth: 120},
      2: {columnWidth: 29},
      3: {columnWidth: 29}
    },     
    theme: 'grid',
    styles: {
        overflow: 'linebreak',
        fontSize: 10,
        valign: 'middle',
        rowHeight: 9


    },
    margin: {top: 60, left: 7},
    alternateRowStyles: {
      fillColor: [239, 239, 239],
    },
    headerStyles: {
      fillColor: [00, 166, 90],
      fontStyle: 'normal',
      fontSize: 13
    }
  });
  doc.save("RequisitosFuncionales.pdf");
}

</script>


    
    
 
                
           
     

                    
