                
            <div class="tittleContent"> 
                    <div class="idea">
                         <a href="" title="¿Que es un Glosario?" data-toggle="popover" data-trigger="focus" data-content="Un glosario es un conjunto de palabras ordenadas alfabeticamente junto con sus definiciones, con el objetivo de construir un vocabulario que sea común a todas las partes interesadas del proyecto" data-placement="bottom"><img src="app-content/bombilla.png" class="ideaIMG" alt="User Image"></a>
                    </div>
                            <p>Modelo de Casos de Uso: Glosario</p>  
            </div>
                            
                   

             <!--INSERCION DE TERMINOS-->
            <div class="col-md-12">
            <div class="flash-message" ng-if="flash">
                    <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
             </div>   
                <!--Header de la tabla-->
                <div class="box box-solid box-success">
                    <div class="box-headerGlosary">
                            <h3 class="box-tittle"> Insercción de términos</h3>
                    </div>
                </div>

                <div class="box-body">
                    <div class="panel panel-default">
                        <div class="box-body table-responsive no-padding">
                            <table class ="table">
                                <thead>
                                    <tr>
                                        <th>
                                        <center> 
                                            Ejemplo: Término defición del término 
                                        </center>
                                        </th>

                                     </tr>
                                </thead>
                                <tbody>
                                     <tr>
                                     </tr>
                                     <tr>
                                        <th>
	                                        <center> 
	                                              <input type="text" id="content" class="form-control" ng-model="vm.termino.content" required />
	                                        </center>
                                        </th>
                                     </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                     <div class="button">
                            <center><button id ="save" class="btn btn-primary" ng-click="vm.saveTerm()" onclick="recargaTime()" >Guardar</button></center>
                    </div>
            </div>
            <!--FIN INSERCION DE TERMINOS-->

            <!--LISTADO DE TERMINOS-->                 
            <div class="col-md-12 ancho" > 
                <!--Header de la tabla-->
                        <div class="box box-solid box-success">
                            <div class="box-headerGlosary">
                                    <h3 class="box-tittle"> Listado de términos en el glosario</h3>
                                   
                                    <div class="box-tools pull-right" >
                                        <a href="" onclick="pdf()" ><span class="imprimir glyphicon glyphicon-print"></span></a>
                                    </div>
                            </div>
                        </div>
                
                            <table id="table" class="table">
                              <thead>
                                  <tr>
                                          <th>Términos:</th>
                                          <th></th>
                                          <th></th>
                                  </tr>
                              </thead>

                              <tbody>
                               	<tr ng-repeat="t in vm.glosario">
                               		<td>
                               			 <a display="Term" ng-model="vm.modificadoTerm" editable="{{t.content}}">{{t.content}}</a>
                               		</td>
                               		<td>
                               			<a href="" id ="update" ng-click="vm.updateTerm($index)" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-pencil"></span></a>
                               		</td>
                               		<td>
                                        <a href="" id ="delete" ng-click="vm.deleteTerm($index)" onclick="recargaTime()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a>
                               		</td>
                               	</tr>
                              </tbody>     
                            </table>
                      </div>  

                      <!--FIN DE LISTADO-->

<script>

function recarga() {
    location.reload();
}

function recargaTime() {
  setTimeout(function(){
      window.location.reload(1);
  }, 300);
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});

/*
$(document).ready(function() {
    $('#table').dataTable({
      data: datos
    });
});
*/
function pdf() {

  var doc = new jsPDF('a4');
  var elem = document.getElementById('table');
  var data = doc.autoTableHtmlToJson(elem);

  //var imgData = 'data:image/jpeg;base64,/Use http://dataurl.net/#dataurlmaker

  //doc.addImage(imgData, 'JPEG', 15, 40, 20, 20);
  doc.text("Modelo de Casos de Uso: ", 70, 40);
  doc.text("Glosario", 70, 48);
  columns = ["Listado de Términos"];
  doc.autoTable(columns, data.rows,{
        
    theme: 'grid',
    styles: {
        overflow: 'linebreak',
        fontSize: 10,
        valign: 'middle',
        rowHeight: 9,
        columnWidth: 'auto'
    },
    margin: {top: 60},
    alternateRowStyles: {
      fillColor: [239, 239, 239],
    },
    headerStyles: {
      fillColor: [220, 220, 38],
      fontStyle: 'normal',
      fontSize: 13
    }
  });
  doc.save("Glosario.pdf");
  alert("Imprimiendo glosario.pdf")
}

</script>

<!--
  <td>A</td>
    <tr ng-repeat="a in vm.wordA">
      <td>{{a.content}} <a href="" id ="delete" ng-click="vm.deleteTerm($index)" onclick="recarga()"><span width="30px;" heigth="30px;" class="glyphicon glyphicon-trash"></span></a></td>
    </tr>
  </tr>
  <tr>
    <td>B</td>
  </tr>
  <tr>
    <td>C</td>
  </tr>
-->
    
    
 
                
           
     

                    
